.info-box {
  width: 240px;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: default;
}

.info-avatar {
  margin-bottom: 4px;
}

.info-name {
  font-size: 16px;
  font-weight: bold;
}

.info-email {
  opacity: 0.6;
}

.cell {
  display: flex;
  justify-content: space-between;
  padding-top: 4px;
  padding-bottom: 4px;
  .left {
    .name {
      margin-left: 6px;
    }
  }
}

.bell {
  margin-left: 8px;
  margin-right: 8px;
  cursor: pointer;
}
