.nav-box {
  padding-bottom: 24px;
}

.inner-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}

.inner-nav-cell {
  font-size: 14px;
  margin-right: 12px;
  cursor: pointer;
}

.inner-nav-icon {
  font-size: 12px;
  margin-left: 4px;
}

.nav-segmented {
  background-color: var(--segmented-bg-color);
}
