.container {
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  box-sizing: border-box;
  padding: 0 15px 0 20px;
}

.title {
  font-size: 1em;
  font-weight: bold;
  user-select: none;
}

.footer {
  -webkit-app-region: no-drag;

  margin-left: auto;
}
