.slider-box {
  background-color: var(--inner-bg-color);
  box-sizing: border-box;
  padding: 12px;
  border-radius: 8px;
  margin-top: 12px;
}

.slider-nav {
  margin-bottom: 4px;
  margin-top: 8px;
}

.slider-nav-title {
  font-size: 14px;
  font-weight: bold;
  margin-left: 12px;
}
