.pricing-feature {
  height: 200px;
  width: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.pricing-feature-title {
  font-size: 16px;
  font-weight: bold;
  margin-right: 8px;
  text-transform: capitalize;
}

.pricing-nav-title {
  width: 100%;
}

.pricing-number {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  align-items: center;
}

.pricing-number-style {
  font-size: 16px;
  font-weight: bold;
}

.pricing-feature-description {
  font-size: 12px;
  margin-top: 8px;
}
