.container {
  padding-top: 88px;
  padding-bottom: 32px;

  :global(.ant-input-affix-wrapper) {
    padding-left: 4px;
    margin-bottom: 16px;
  }

  :global(.ant-input-password-icon.anticon) {
    color: inherit;
  }
}

.limiter {
  -webkit-app-region: no-drag;

  width: 320px;
  margin: 0 auto 48px;
}

.bigButton {
  width: 100%;
}

.splitter {
  display: flex;
  align-items: center;
  margin-bottom: 32px;

  &::before,
  &::after {
    flex: 1;
    content: "";
    border-top: 1px dashed #383b42;
    margin: 0 16px;
  }
}

.forgotPasswordBtn {
  padding-top: 184px;
}

.signinBtn,
.nextBtn {
  margin-bottom: 8px;
}

.passwordBtnWrapper {
  position: relative;
}

.forgotPasswordBtn {
  position: absolute;
  top: 1px;
  right: 32px;
  padding: 4px 8px;
  z-index: 1;
}

.splitterText {
  -webkit-app-region: no-drag;
}
