@import "../variables.scss";

.box {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 12px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.bill-title {
  font-size: 16px;
  font-weight: bold;
}

.bill-box {
  width: 100%;
  margin-bottom: 24px;
}

.bill-nav {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 12px;
  height: 32px;
}

.bill-nav-title {
  @include title(0);
}
