.description-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-left-title {
  color: #7d7fe9;
  font-weight: bold;
}

.nav-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  .more {
    margin-left: 8px;
  }
}

.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  span {
    margin-left: 8px;
  }
}

.platform-box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.platform-cell-text {
  margin-left: 18px;
}

.platform-cell-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 4px;
}

.platform-cell-obj {
  font-size: 14px;
}

.avatar-box {
  width: 72px;
  height: 72px;
}

.avatar-icon {
  width: 20px;
  height: 20px;
  background-color: var(--inner-bg-color);
  position: absolute;
  margin-top: 52px;
  margin-left: 52px;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 6px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.secret-cell-box {
  width: 100%;
  height: 100%;
  margin-top: 8px;
  overflow-y: scroll;
}
