.list {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 100% !important;
  height: 56px !important;
  position: relative;
  border-radius: 4px !important;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-right: 12px;
}

.icon {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 8px;
  left: 8px;
  border-radius: 20%;
  background-color: #ffffff1a;
}

:global(.oomol-theme-light) .icon {
  background: #ffffff87;
}
