.template-item {
  width: calc(50% - 4px);
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--segmented-bg-color);
  margin-bottom: 8px;
  box-sizing: border-box;
  padding-left: 9px;
  padding-right: 9px;
  border-radius: 4px;
}

.template-item-left {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.template-item-icon {
  width: 36px;
  height: 36px;
  img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
  }
}

.template-item-title {
  margin-left: 8px;
}
