// TODO
.body {
  margin-top: 24px;
}

// TODO
.table {
  border-radius: 0px;
}

// TODO
.add-row {
  width: 100%;
}

// TODO
.edit-value {
  width: 100%;
  display: flex;
  flex-direction: row;
}

// TODO
.edit-value-delete {
  margin-left: 12px;
}
