// Windows Button is the system button on the top right of Windows and Linux
$win-btn-width: 35px;
$win-btn-height: 35px;
$win-btn-group-width: $win-btn-width * 3;
$win-btn-group-height: $win-btn-height;
